* {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  border-radius: 0 !important;
}

.container-fluid {
  padding: 0;
}

.giant-container, .nav-container {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  background-color: white;
  color: black;
  border-style: none;
  border-bottom: solid 1px black;
}

.navbar-brand {
  margin: 0 auto;
}

html {
  background: url('../../assets/images/sprout.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.dropdown-menu {
  min-width: 260px;
  padding: 10px;
}
