* {
  font-family: 'Lato', sans-serif;
  border-radius: 0 !important;
}

// a {
//   color: black;
// }

hr {
  margin: 1px auto;
  padding-bottom: 10px;
}

#main-line {
  margin: 15px;
}

.container-fluid {
  padding: 0;
}

#home-pic {
  height: 925px;
  margin: 0 auto;
  background: url('../../assets/images/student.jpg') no-repeat center center fixed;
  background-size: cover;
}

.paragraph {
  width: 50%;
  margin: 0 auto;
}

.landscape {
  height: 300px;
  width: auto;
}

.giant-container, .nav-container {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  background-color: white;
  color: black;
  border-style: none;
  border-bottom: solid 1px #dedfe0;
  margin-bottom: 0;
}

.navbar-brand {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.have-account {
  padding: 10px;
}

.account-banner {
  z-index: 10;
  position: absolute;
  top: 10;
  left: 0;
  width: 100%
}

.credit-banner {
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
}

html {
  // background: url('../../assets/images/sprout.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.dropdown {
  background-color: rgba(255,255,255,.85);
}

.dropdown-menu {
  min-width: 260px;
  padding: 10px;
  background-color: rgba(255,255,255,.85);
}

.dropdown-toggle {
  color: black;
}

.carousel-item {
  max-height: 100px;
}

// Footer styling
.footer {
  height: 33%;
  background-color: #ebebeb;
  color: black;
  overflow: auto;
}

.box {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

h4 {
  color: #4b5320;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-line {
  border-top-color: black;
}

.footer-address-line {
  border-top-color: #dedfe0;
}

// Creation Form
.creation-container {
  max-width: 40%;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

#create-course-form {
  margin: 0 auto;
}

// Table Formatting
#handlebars-content {
  margin-top: 40px;
  margin-bottom: 60px;
}

#course-table{
  max-width: 80%;
  margin: 0 auto;
}

.hbs-narrative {
  max-width: 80%;
  margin: 0 auto;
}

table {
  max-width: 80%;
  table-layout: fixed;
  font-size: 16px;
}

tr {
  max-height: 20px;
}

#largeCol {
  width: 32%;
}

#mediumCol {
  width: 18%;
}

#smallCol {
  width: 15%;
  text-align: center;
}

#actionCol {
  width: 10%;
}

td {
  overflow: hidden;
}

.C3, .C4 {
  text-align: center;
}

#loginbtn, #signoutbtn, #changepassbtn, #registerbtn, #makebtn {
  background-color: #4b5320;
  color: white;
}

#loginbtn:hover, #signoutbtn:hover, #changepassbtn:hover, #registerbtn:hover, #makebtn:hover {
  background-color: #2a2e12;
}

#no-courses {
  width: 80%;
  margin: 0 auto;
}

// .grow:hover {
//   -webkit-transform: scale(1.3);
//   -ms-transform: scale(1.3);
//   transform: scale(1.3);
// }

.highlight:hover {
  box-shadow: inset 0 0 0 1px white;
}

// Start Parallax
.parallax {
  background: url('../../assets/images/bookshelf.jpg') no-repeat fixed 100%;
  // background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  border: none;
}

.parallax-inner {
  padding-top: 5%;
  padding-bottom: 10%;
}

// Start Carousel
.carousel-inner {
  height: 925px;
}
